* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  background-color: honeydew;
}

.header {
  padding: 2em;
  color: #333;
}

.card-grid-container {
  display: flex;
  justify-content: center;
}

.card-grid {
  width: 1000px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.card {
  width: 300px;
  height: 200px;
  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: blueviolet;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.btn {
  padding: 1em;
  background-color: violet;
  border: none;
  border-radius: 10px;

  color: white;
  font-weight: bold;
  font-size: 1.2em;

  cursor: pointer;
}

.btn:hover {
  background-color: rgb(216, 116, 216);
  transform: scale(1.1);
}

#add-book-btn {
  position: fixed;
  top: 1em;
  right: 1em;
}

.new-book-form {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1;

  display: flex;
  flex-direction: column;

  padding: 1em;
  background-color: honeydew;
  border-radius: 10px;
  border: 2px solid black;

  width: 300px;
}

.new-book-form label {
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: bold;
}

.new-book-form input {
  margin-top: 0.5em;
}

.checkbox-container {
  margin-top: 1em;
}

.btns-container {
  margin-top: 2em;

  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}
